<!DOCTYPE html>
<htmlxmlns:th="http: //www.thymeleaf.org">
<head>
    <metacharset="UTF8">
        </meta>
        <title>HelloWorld</title>
</head>

<body>
    <h1>HelloWorld</h1>
    <form method="post" action="/hello">
        Input: <input type="text" name="text1"/>
        <input type="submit" value="click"/>
    </form>
    <br/>
    <br/>
    <br/>
    <form method="post" action="/hello/db">
        EMPLOYEE-ID:  <input type="text" name="text2" th:value="${text2_value}"/>
        <imput type="submit" value="click!!"/>
    </form>

</body>
</html>
